{% extends "base.html" %}
{% block body %}
<!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
            <h3>演武会　受審者登録</h3>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <form method="POST">{% csrf_token %}

    <table class="table">
      <h2>
        {{ embuscoringsheet.testee }}
      </h2>
      {{ form }}
    </table>
    <button class="btn btn-primary" type="submit">送信</button>
    <input type="button" value="戻る" onClick="javascript:history.go(-1);">
  </form>
{% endblock %}
